@import "index/index-linha-produtos";
@import "index/index-destaque-produtos";
@import "index/index-mais-que-produtos";
@import "index/index-vantagens";
@import "index/index-promo";
@import "index/index-quer-saber-mais";
@import "index/index-fornecedores";
@import "index/index-sobre";
@import "index/index-instagram";
@import "index/index-blog";

section.index-bg-middle-site {
  background-image: url("../image/bg-middle-site.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 800px;
}


