.politica-termos {
    padding: 40px 0px;
    color: #525252;
    background-size: cover;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 32px;
        font-weight: 700;
        color: $secondary;
    }

    strong,
    b {
        color: $secondary;
    }

    @media (max-width: 991px) {
        padding: 20px 0px;
        font-size: 15px;

        h1 {
            font-size: 22px;
        }
    }
}
