#featured-avaliacoes-home {
    background: #f2f2f2;
    padding: 56px 0;

    .avaliacoes {
    }

    /* Título */
    .section-titleavaliacoes,
    .section-titleavaliacoes p {
        margin: 0 0 32px 0;
        text-align: center;
        font-family: $font-primary;
        font-size: 35px;
        font-style: normal;
        font-weight: 300; /* parte azul */
        line-height: normal;
        color: $secundary-color;
    }
    .section-titleavaliacoes strong {
        color: $primary-color; /* parte laranja */
        font-weight: 800;
    }

    /* Grid dos cards */
    .card-itens {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5625rem;
    }

    /* Card */
    .avaliacao-card.card {
        max-width: 417px;
        width: 100%;
        min-height: 334px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 4px 28.7px 0 rgba(0, 0, 0, 0.15);
        border: 0;
    }
    .avaliacao-card .card-body {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* Estrelas */
    .rating-box {
        display: inline-flex;
        gap: 4px;
        line-height: 1;
    }
    .rating-box .star {
        display: block;
    }

    /* Tipografia */
    .card-text {
        color: #323232;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    .card-title {
        color: #023766;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 700; /* nomes */
        line-height: normal;
        margin: 0;
    }

    .row-ctas {
        &.links {
            .btn {
                &.btn-outline-primary {
                    padding: 1rem 4rem;
                }
            }
        }
    }

    /* Responsivo */
    @media (max-width: 1200px) {
        .avaliacao-card.card {
            width: 100%;
        }
        .row {
            gap: 16px;
        }
    }
}
